@media (max-width: 1000px) {
    .card {
        background-position: right 30rem top 70%;
    }
}

@media (max-width: 900px) {
    .card {
        background-position: center top 0;
        grid-template-rows: auto;
        grid-template-columns: auto;
        background-image: url("../image/bg-pattern-mobile.svg");
        background-size: 70%;
        max-width: 400px;
        margin-top: 10rem;
        margin-bottom: 2rem;
        .leftSide {
            justify-content: center;
            display: flex;
            .banner {
                position: absolute;
                top: -53%;
                max-width: 70%;
                img {
                    transform: translate(0);
                }
            }
        }
        .rightSide {
            padding-inline: 2rem;
            margin-top: 7rem;
            z-index: 1000;
            h2 {
                text-align: center;
            }
        }
    }
    .leftSide {
        .boxIllustration {
            display: none;
        }
    }
}
