@import "resources";
@import "reset";
@import "variables";

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    background: $Softblue;
    background: -moz-linear-gradient(0deg, $Softblue 0%, $Softviolet 100%);
    background: -webkit-linear-gradient(0deg, $Softblue 0%, $Softviolet 100%);
    background: linear-gradient(0deg, $Softblue 0%, $Softviolet 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6565e7",endColorstr="#af67e9",GradientType=1);
}
